<%= link_to 'Logout', destroy_user_session_path, method: :get, class: 'btn btn-primary'%>
<br>
<br>

<div class="jumbotron jumbotron-fluid" style="background-color: #FFFF99;">
  <%if user_signed_in?%>
    <div class="entity-form-group">
      <h1>List of numbers</h1>
      <%= form_for Entity.new do |f| %>
        <p><%= f.text_field :parsed_url, id:'url' %></p>
        <p><%= f.file_field :numbers, id:'number_table' %></p>
        <p><%= f.submit "Add ent", class: "btn btn-primary", id: "submitadv"%></p>
      <%end%>
    </div>
  <%end%>
</div>

<div class="card-body" style="background-color: #FFFFCC; overflow: scroll; width: 1107px; height: 300px;">
  <br>
    <%= render @entities %>
  <br>
</div>

